<aside>
  <mat-toolbar id="page-side-header">
    <span class="padding">Vehicle Information</span>
    <button class="" mat-mini-fab color="default" (click)="onSave()" id="save">
      <mat-icon color="accent" >save</mat-icon>
    </button>
  </mat-toolbar>
  <main>


    <!-- <button color="default" (click)="onClose()">
        close</button> -->

    <form novalidate autocomplete='off' >
      <div fxLayout="row wrap" fxLayoutAlign="start start" >
        <mat-form-field fxFlex="100">
          <input matInput  value="Sushi" placeholder="Name" >
        </mat-form-field>
        <mat-form-field fxFlex="100">
            <input matInput  value="Sushi" placeholder="Name">
          </mat-form-field>
      </div>
    </form>
  </main>
</aside>
