<mat-card fxLayout="row" fxLayoutAlign="space-between center" style="background-color:#f5f5f5;">
  <mat-list-item fxFlex="30">
    <span>Name</span>
  </mat-list-item>
  <mat-list-item fxFlex="30">
    <span>Priority</span>
  </mat-list-item>
  <mat-list-item fxFlex="30">
    <span>Active</span>
  </mat-list-item>

</mat-card>
<ng-template ngFor let-item [ngForOf]="txnList" let-last=last let-index=index color="primary">
  <form [formGroup]="myForms[index]" novalidate autocomplete='off' class="padding">
      <mat-card fxLayout="row" fxLayoutAlign="space-between center">
        <mat-list-item fxFlex="35">
          <input required mdInput placeholder="Name"  [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}">
        </mat-list-item>
        <mat-list-item fxFlex="35">{{item.priority}}</mat-list-item>
        <mat-list-item fxFlex="30">
          <mat-checkbox [(ngModel)]="item.active" [ngModelOptions]="{standalone: true}" ></mat-checkbox>
        </mat-list-item>
        <!-- <mat-list-item fxFlex="35">{{appMenu.priority}}</mat-list-item>
        <mat-list-item fxFlex="30">
          <mat-checkbox [(ngModel)]="appMenu.active"></mat-checkbox>
        </mat-list-item> -->
      </mat-card>
  </form>
</ng-template>

