

<mat-nav-list id="nav">
    
        <ng-template let-item ngFor [ngForOf]="menuList">
            <mat-list-item [ngClass]="{ 'activatedObject': activeMenuObject == item.name }">
                <mat-icon md-list-icon class="padding-side" svgIcon="core:{{item.icon}}"></mat-icon>
                <a  routerLink="{{item.link}}"> {{item.name}} </a>
            </mat-list-item>
        </ng-template>
      
    </mat-nav-list>


<!-- <div class="scrolling-content side-bar-content">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a routerLink="/">Home</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/login">Login</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/auth/register">Register</a>
          </li>
          <mat-icon svgIcon="core:alarm"></mat-icon>
          <mat-icon svgIcon="core:accessibility"></mat-icon>
          <mat-icon svgIcon="core:alarm"></mat-icon>
        </ul>
      </div> -->







<!-- <mat-toolbar color="primary" class="header">

  <button mat-icon-button (click)="sidenav.toggle()">

    <mat-icon class="md-24">menu</mat-icon>

  </button>

</mat-toolbar>
<mat-sidenav-container class="sidenav-fab-container">
  <mat-sidenav #sidenav class="sidenav-content" mode="side" opened="true">
    <div class="scrolling-content side-bar-content">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/auth/login">Login</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/auth/register">Register</a>
        </li>
        <mat-icon svgIcon="core:alarm"></mat-icon>
        <mat-icon svgIcon="core:accessibility"></mat-icon>
        <mat-icon svgIcon="core:alarm"></mat-icon>
      </ul>
    </div>
  </mat-sidenav>
</mat-sidenav-container> -->
