.mat-list-item-content {
    padding: 0px 10px !important;
}

.mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px !important;
    position: relative;
    height: inherit;
}

.mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px !important;
    position: relative;
    height: inherit;
}

.menu-icon {
    width: 37px !important;
    height: 30px !important;
    outline: none !important;
}

.inactive {
    color: #AFAFAF;
}

.active {
    color: #557DBF !important; // background-color: #AFAFAF !important;
}