.mat-list-item-content {
    padding: 0px 10px !important;
}

.mat-list-option .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px !important;
    position: relative;
    height: inherit;
}

.mat-list-item .mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 9px !important;
    position: relative;
    height: inherit;
}

.mat-nav-list .mat-list-item {
    height: 60px;
    width: 60px;
    border-bottom: 1px solid #c6d0da;
}

.menu-icon {
    // width: 37px !important;
    // height: 30px !important;
    outline: none !important;
}

.mat-icon-button {
    height: 60px !important;
    width: 60px;
}

.inactive {
    color: #AFAFAF;
}

.active {
    color: #557DBF !important; // background-color: #AFAFAF !important;
}