<aside>

  <article>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h4 class="padding-side">Menu</h4>
      <button mat-mini-fab (click)="menusave()" class="fab-placeholder">
        <mat-icon style="color:#fff">send</mat-icon>
      </button>
    </div>
  </article>
  <main>

    <mat-tab-group (selectedTabChange)="tabChanged($event,index)">

      <mat-tab *ngFor="let item of rolesList; let i = index" label="{{item.name}}">

        <div class="mat-elevation-z8">

          <mat-list>
            <app-menu-access-list-edit [(inputData)]="menuList"></app-menu-access-list-edit>


          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>

  </main>

</aside>




