.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 5px;
    border-radius: 2px;
    background-color: #fff;
  }
  
  
  
  ::ng-deep .mat-tab-header {
    height: 62px;
    .mat-tab-label-container {
      .mat-tab-list {
        .mat-tab-labels {
          .mat-tab-label:nth-child(1) {
            height: 62px;
            background: #6190e8; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #6190e8, #a7bfe8); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          }
          .mat-tab-label:nth-child(2) {
            height: 62px;
            background: #DCE35B;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
            }
            .mat-tab-label:nth-child(3) {
              height: 62px;
              background: #A770EF;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              
            }
            .mat-tab-label:nth-child(4) {
              height: 62px;
              background: #ff7e5f;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              
            }
            .mat-tab-label:nth-child(5) {
              height: 62px;
              background: #f79d00;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to left, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to left, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
              
            }
        }
      }
    }
  }
  
  