<aside>
        <article>
            <h4 class="padding" >MasterData</h4>
        </article>
        <main class="padding">
            <form [formGroup]="myForm" novalidate autocomplete='off'>
                    <div fxLayout="row wrap" fxLayoutAlign="center center" class=" padding">
                  
                    <div fxFlex ="100">
                            <mat-card class="margin8">
                                <mat-card-content>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                                        <h5 fxFlex="100 " style="text-align: left;">MasterData Details</h5>
                                        <div fxLayout="row wrap" fxFlex="100">
                                            <mat-form-field fxFlex="32" fxFlex.xs="100" class="margin8">
                                                <input matInput placeholder="Name" required [formControl]="myForm.controls.masterdata_name" [(ngModel)]="appdata.name">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.masterdata_name"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="32" fxFlex.xs="100" class="margin8">
                                                <input matInput type="text" placeholder="Code" required [formControl]="myForm.controls.masterdata_code" [(ngModel)]="appdata.code">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.masterdata_code "> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-checkbox  fxLayoutAlign="start center" fxFlex="32" fxFlex.xs="100" class="margin8" [(ngModel)]="appdata.active" [ngModelOptions]="{standalone: true}">Check me!</mat-checkbox>
                                        </div>
                                       
                                    </div>
                                    </mat-card-content>
                                    <mat-card-actions fxLayout="row wrap " fxLayoutAlign="center center ">
                                            <div fxFlex.xs="100 " fxFlex.sm="100 " fxFlex.mat="100 " fxFlex.lg="100 " fxLayoutAlign="center center ">
                                                <button mat-raised-button [disabled]="!myForm.valid" class="button-container" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()" color="primary">Save Details</button>
                                            </div>
                                        </mat-card-actions>
                                    </mat-card>
                                    </div>
                                </div>
            </form>
         </main>
</aside>