<aside>
    <article>
        <h3 class="padding">Profile</h3>
    </article>
    <main class="padding">
        <form [formGroup]="myForm" novalidate autocomplete='off'>
            <div fxLayout="row wrap" fxLayoutAlign="center center" class=" padding">
                <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20">
                    <mat-card class="margin8" fxLayout="row wrap" fxLayoutAlign="start start">
                        <img fxFlex="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/1000px-Circle-icons-profle.svg.png" height="120px">
                        <h6><b>{{profile.name}}</b></h6>
                        <P>{{profile.email}}</P>
                    </mat-card>
                </div>
                <div fxFlex.xs="100" fxFlex.sm="60" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <h5 fxFlex="100 " style="text-align: left;">Personal Details</h5>
                                <div fxLayout="row wrap" fxFlex="100">
                                    <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput placeholder="Name" required [formControl]="myForm.controls.profile_name" [(ngModel)]="profile.name">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_name"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput type="text" placeholder="Email" required [formControl]="myForm.controls.profile_email" [(ngModel)]="profile.email">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_email "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <div fxLayout="row wrap" fxFlex="100 ">
                                    <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput placeholder="Mobile" required [formControl]="myForm.controls.profile_mobile" [(ngModel)]="profile.mobile">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_mobile"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput type="text" placeholder="Password " required [formControl]="myForm.controls.profile_password" [(ngModel)]="profile.password">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_password "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start start" class=" padding">
                <!-- <div fxFlex.xs="0" fxFlex.sm="0" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20"></div> -->
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <h5 fxFlex="100" style="text-align: left;">Address Details</h5>
                                <div fxLayout="row wrap" fxFlex="100 ">
                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput placeholder="Lane" required [formControl]="myForm.controls.profile_lane" [(ngModel)]="profile.address.lane">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_lane"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput type="text" placeholder="city" required [formControl]="myForm.controls.profile_city" [(ngModel)]="profile.address.city">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_city"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput placeholder="state" required [formControl]="myForm.controls.profile_state" [(ngModel)]="profile.address.state">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_state"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput type="text" placeholder="country" required [formControl]="myForm.controls.profile_country" [(ngModel)]="profile.address.country">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_country"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput placeholder="zipcode" required [formControl]="myForm.controls.profile_zipcode" [(ngModel)]="profile.address.zipcode">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_zipcode"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" class="margin8">
                                        <input matInput type="text" placeholder="Aadhar Number" required [formControl]="myForm.controls.profile_aadhar" [(ngModel)]="profile.aadhar">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.profile_aadhar"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-card-actions fxLayout="row wrap " fxLayoutAlign="center center ">
                                <div fxFlex.xs="100 " fxFlex.sm="100 " fxFlex.mat="100 " fxFlex.lg="100 " fxLayoutAlign="center center ">
                                    <button mat-raised-button [disabled]="!myForm.valid" class="button-container" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()" style="background-color:#44c767;color:#fff">Save Details</button>
                                </div>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </form>
    </main>
</aside>