.font-white {
    color: white !important;
}

.spacer {
    flex: 1 1 auto;
}
sub {
    color : darkorange!important;
}

.activatedObject {
    color: #fff;
    background-color: #778594 !important;
}