.font-white {
    color: white !important;
}

.spacer {
    flex: 1 1 auto;
}

sub {
    color: darkorange!important;
}

.login-card {
    width: 600px !important;
    // height: 524px !important;
    border-radius: 8px !important;
    background-color: #ffffff !important;
    box-shadow: 2px 6px 16px 0 rgba(0, 0, 0, 0.5) !important;
}

input:focus {
    outline: none !important;
}

.mat-raised-button{
    border-radius: 20px !important;
}