<aside>
    <h3 class="padding">My Profile</h3>
    <main class="padding">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    update profile
                </ng-template>
                <div fxLayout="row wrap" fxLayoutAlign="start start" class=" padding" style="height:100vh;">
                    <!--class="row center-xs parent-container padding"-->
                    <div fxFlex.xs="100" fxFlex.sm="40" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20">
                        <mat-card class="margin8">
                            <h6><b>{{profile.name}}</b></h6>
                            <P>{{profile.email}}</P>
                        </mat-card>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="60" fxFlex.md="70" fxFlex.lg="80" fxFlex.xl="80">
                        <mat-card class="margin8">
                            <mat-card-content>
                                <form [formGroup]="myForm" novalidate autocomplete='off'>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                                        <h5 fxFlex="100 " style="text-align: left;">Personal Details</h5>
                                        <div fxLayout="row wrap" fxFlex="100 ">
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput placeholder="Name" required [formControl]="myForm.controls.myprofile_name" [(ngModel)]="profile.name">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_name"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput type="text" placeholder="Email" required [formControl]="myForm.controls.myprofile_email" [(ngModel)]="profile.email">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_email "> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                                        <div fxLayout="row wrap" fxFlex="100 ">
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput placeholder="Mobile" required [formControl]="myForm.controls.myprofile_mobile" [(ngModel)]="profile.mobile">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_mobile"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput type="text" placeholder="Password " required [formControl]="myForm.controls.myprofile_password" [(ngModel)]="profile.password">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_password "> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">
                                        <h5 fxFlex="100 " style="text-align: left;">Address Details</h5>
                                        <div fxLayout="row wrap" fxFlex="100 ">
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput placeholder="Lane" required [formControl]="myForm.controls.myprofile_lane" [(ngModel)]="profile.address.lane">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_lane"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput type="text" placeholder="city" required [formControl]="myForm.controls.myprofile_city" [(ngModel)]="profile.address.city">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_city"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">

                                        <div fxLayout="row wrap" fxFlex="100 ">
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput placeholder="state" required [formControl]="myForm.controls.myprofile_state" [(ngModel)]="profile.address.state">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_state"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput type="text" placeholder="country" required [formControl]="myForm.controls.myprofile_country" [(ngModel)]="profile.address.country">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_country"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start start">

                                        <div fxLayout="row wrap" fxFlex="100 ">
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput placeholder="zipcode" required [formControl]="myForm.controls.myprofile_zipcode" [(ngModel)]="profile.address.zipcode">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_zipcode"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="40" class="margin8">
                                                <input matInput type="text" placeholder="Aadhar Number" required [formControl]="myForm.controls.myprofile_aadhar" [(ngModel)]="profile.aadhar">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.myprofile_aadhar"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                            </mat-card-content>
                            <mat-card-actions fxLayout="row wrap " fxLayoutAlign="center center ">
                                <div fxFlex.xs="100 " fxFlex.sm="100 " fxFlex.mat="100 " fxFlex.lg="100 " fxLayoutAlign="center center ">
                                    <button mat-raised-button [disabled]="!myForm.valid" class="button-container" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()">Save Details</button>
                                </div>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    company
                </ng-template>
                <h1>Company</h1>
                <p>...</p>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Prefix
                </ng-template>
                <h1>Prefix</h1>
                <p>...</p>
            </mat-tab>
        </mat-tab-group>
    </main>
</aside>