<aside>
    <article>
         <div fxLayout="row" fxLayoutAlign="space-between center" >
                 <h4 class="padding-side">Branch</h4>
                  <button mat-mini-fab (click)="addBranch()" class="fab-placeholder">
                      <mat-icon style="color:#fff">add</mat-icon>
                  </button>
                  </div>
    </article>
 
    <main class="padding">          
       <div  fxLayout="row wrap" fxLayoutAlign="start start">
            <div fxFlex="100" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3333" fxFlex.lg="25" fxFlex.xl="20" *ngFor="let item of branchDataList" class="padding10">
            <mat-card (click)="editBranch(item)" style="cursor:pointer">
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" >
                        <div >
                                <h6 style="color:#5e42b0" >{{item.name}}</h6>
                        </div>
                        <div>
                            <mat-slide-toggle [(ngModel)]="branch.active" readonly>Active</mat-slide-toggle>
                        </div>
                             
                    </div>  
                    <mat-card-content >
                            <div fxLayout="column">
                                    <div class="hpair">
                                        <span>Email </span>
                                        <span>{{item.email}}</span>
                                    </div>
                                    </div>
                                    <div fxLayout="column">
                                            <div class="hpair">
                                                <span>Mobile </span>
                                                <span>{{item.mobile}}</span>
                                            </div>
                                            </div>
                            <div fxLayout="column">
                                    <div class="hpair">
                                        <span>City </span>
                                        <span>{{item.city}}</span>
                                    </div>
                                    </div>
                                <div fxLayout="column">
                                    <div class="hpair">
                                        <span>Country </span>
                                        <span>{{item.country}}</span>
                                    </div>
                                    </div>

                    </mat-card-content>
            </mat-card>
       </div>
       </div>
    </main>
   </aside>