.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 5px;
    border-radius: 2px;
    background-color: #fff;
  }
  
  ::ng-deep .mat-list, .mat-nav-list, .mat-selection-list{
    padding-top:0px;
  }