<aside>
    <article class="padding">
            <div fxLayout="row" fxLayoutAlign="space-between center" >
        <h4>Consumer</h4>
         <button mat-mini-fab (click)="editConsumer(null)" class="fab-placeholder">
             <mat-icon style="color:#fff">add</mat-icon>
         </button>
         </div>
    </article>
    <main class="padding">
<infinite-list [items]="consumerData" (outputEvent)="scrollList = $event" style="height: 100%">
    
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Aadhar Number</th>
            <!-- <th scope="col">Role</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of scrollList" style="cursor:pointer" (click)="editConsumer(item)">
            <td data-label="Invoice Number">{{item.name}}</td>
            <td data-label="Name">{{item.email}}</td>
            <td data-label="Mobile">{{item.mobile}}</td>
            <td data-label="Invoice Date">{{item.aadhar}}</td>
            <!-- <td data-label="Total Amount">{{item.role}}</td> -->
        </tr>
    </tbody>
</table>
</infinite-list>

</main>
</aside>
