<div >
    <div style="background-color: #d0d8df; height: 60px;" >
        <mat-list-item fxFlex="60">
            <span>Name</span>
          </mat-list-item>
          <mat-list-item fxFlex="20">
            <span>Active</span>
          </mat-list-item>
          <mat-list-item fxFlex="20">
            <span>Save</span>
          </mat-list-item>
          <hr style="margin:0px;color:grey;">
    </div>
    <ng-template ngFor let-item [ngForOf]="txnList" let-last=last let-index=index >
    
      <form  novalidate autocomplete='off'
         style="background-color:#fff; height: 60px; padding-top: 16px;" >
          <mat-list-item fxFlex="60">
              <mat-form-field fxFlex="100">
                <input required matInput [(ngModel)]="item.name"  [ngModelOptions]="{standalone: true}" >
             </mat-form-field>
          </mat-list-item>
          
          <mat-list-item fxFlex="20">
            <mat-checkbox [(ngModel)]="item.active" [ngModelOptions]="{standalone: true}"></mat-checkbox>
          </mat-list-item>
    
          <mat-list-item fxFlex="20"> 
            <mat-icon (click)="send(item)" class="md-24" style="color: black; cursor: pointer;">save</mat-icon>
          </mat-list-item>
         
      </form>
      <hr style="margin:0px;color:grey;">
    </ng-template>
  </div>

