<!--The content below is only a placeholder and can be replaced.-->
<header>

</header>

<!-- <main>
  <router-outlet></router-outlet>
</main> -->
<mat-toolbar color="primary" class="header" *ngIf="false">

    <button mat-icon-button (click)="sidenav.toggle()">
    
                    <mat-icon class="md-24" >menu</mat-icon>
    
                </button>

</mat-toolbar>
<mat-sidenav-container class="sidenav-fab-container" *ngIf="false">
    <mat-sidenav #sidenav class="sidenav-content" mode="side" opened="true">
        <div class="scrolling-content side-bar-content">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active">
                    <a routerLink="/">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/auth/login">Login</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/auth/register">Register</a>
                </li>
                <mat-icon svgIcon="core:alarm"></mat-icon>
                <mat-icon svgIcon="core:accessibility"></mat-icon>
                <mat-icon svgIcon="core:alarm"></mat-icon>
            </ul>
        </div>
    </mat-sidenav>



</mat-sidenav-container>
<div class="scrolling-content">
    <router-outlet></router-outlet>

</div>
