// .icontainer {
//     width: 100%;
//     height: 99.9vh;
//   }
  
//   .sidenav-content {
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//   }

  
// .content {
//     margin: 0;
//     width: 100%;
//     height: 100%;
//   }
  mat-sidenav {
    width: 58px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
  }
.header {
  height: 58px !important;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.mat-drawer-container {
  background-color: #f6f9fc;
  color: rgba(0,0,0,.87);
}
.mat-toolbar {
  color: white;
}

.sidenav-fab-container .mat-sidenav-content,
.sidenav-fab-container md-sidenav {
    display: flex !important;
    overflow: hidden;
}

