<mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="md-24">menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-fab-container">
    <mat-sidenav #sidenav class="sidenav-content" mode="side" opened="true">
        <div class="scrolling-content side-bar-content">
            <app-menu></app-menu>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
<div class="scrolling-content">
    <router-outlet></router-outlet>
</div>