<mat-progress-bar mode="indeterminate" *ngIf="showLoader" color="warn" style="position: fixed; width: 100%"></mat-progress-bar>
<div *ngIf="sessionUser">

    <mat-toolbar color="primary" class="header" style="	background-color: #2a3540;" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start start">
            <h1>APNA
                <span style="color:red">TANKER</span>
            </h1>
            <button mat-icon-button (click)="sidenav.toggle()" style="padding-bottom:18px">
            <mat-icon class="md-24">menu</mat-icon>
        </button>
        </div>

        <div>
            {{sessionUser.name}}
        </div>

    </mat-toolbar>
</div>

<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="navMode" opened="true" *ngIf="sessionUser">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>