.mat-tab-label {
    background-color: #00c0ef !important;
}

.user-count {
    font-weight: 300;
    padding: 0px 20px;
    font-size: 38px;
}

.tab-icon {
    color: black;
    font-size: 24px;
    margin: 12px;
}