<aside>
    <article>
        <h4 class="padding" >consumer</h4>
    </article>
    <main class="padding">
        <form [formGroup]="myForm" novalidate autocomplete='off'>
            <div fxLayout="row wrap" fxLayoutAlign="center center" class=" padding">
                <!-- <div fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20">
                    <mat-card class="margin8" fxLayout="row wrap" fxLayoutAlign="center center">
                        <img fxFlex="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/1000px-Circle-icons-profle.svg.png" height="100px">
                        <h6 fxFlex="100"><b>{{consumer.name}}</b></h6>
                        <P fxFlex="100">{{consumer.email}}</P>
                    </mat-card>
                </div> -->
                <div fxFlex="100">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <h5 fxFlex="100 " style="text-align: left;">Personal Details</h5>
                                <div fxLayout="row wrap" fxFlex="100">
                                    <mat-form-field fxFlex="45" fxFlex.xs="100" class="margin8">
                                        <input matInput placeholder="Name" required [formControl]="myForm.controls.consumer_name" [(ngModel)]="consumer.name">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_name"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="45"  fxFlex.xs="100" class="margin8">
                                        <input matInput type="text" placeholder="Email" required [formControl]="myForm.controls.consumer_email" [(ngModel)]="consumer.email">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_email "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <div fxLayout="row wrap" fxFlex.xs="100" fxFlex="100 ">
                                    <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput placeholder="Mobile" required [formControl]="myForm.controls.consumer_mobile" [(ngModel)]="consumer.mobile">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_mobile"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <!-- <mat-form-field fxFlex="45" class="margin8">
                                        <input matInput type="text" placeholder="Password " required [formControl]="myForm.controls.consumer_password" [(ngModel)]="consumer.password">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_password "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field> -->
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start start" class=" padding">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <h5 fxFlex="100" style="text-align: left;">Address Details</h5>
                                <div fxLayout="row wrap" fxFlex="100 ">
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" class="margin8">
                                        <input matInput placeholder="Lane" required [formControl]="myForm.controls.consumer_lane" [(ngModel)]="consumer.address.lane">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_lane"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30"  fxFlex.xs="100" class="margin8">
                                        <input matInput type="text" placeholder="city" required [formControl]="myForm.controls.consumer_city" [(ngModel)]="consumer.address.city">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_city"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" class="margin8">
                                        <input matInput placeholder="state" required [formControl]="myForm.controls.consumer_state" [(ngModel)]="consumer.address.state">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_state"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="30" fxFlex.xs="100" class="margin8">
                                        <input matInput type="text" placeholder="country" required [formControl]="myForm.controls.consumer_country" [(ngModel)]="consumer.address.country">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_country"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" class="margin8">
                                        <input matInput placeholder="zipcode" required [formControl]="myForm.controls.consumer_zipcode" [(ngModel)]="consumer.address.zipcode">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_zipcode"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" class="margin8">
                                        <input matInput type="text" placeholder="Aadhar Number" required [formControl]="myForm.controls.consumer_aadhar" [(ngModel)]="consumer.aadhar">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.consumer_aadhar"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <mat-card-actions fxLayout="row wrap " fxLayoutAlign="center center ">
                                <div fxFlex.xs="100 " fxFlex.sm="100 " fxFlex.mat="100 " fxFlex.lg="100 " fxLayoutAlign="center center ">
                                    <button mat-raised-button [disabled]="!myForm.valid" class="button-container" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()" color="primary">Save Details</button>
                                </div>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </form>
    </main>
</aside>