<aside>
    <article>
        <div fxLayout="row wrap " fxLayoutAlign="space-between center ">
                <h4 class="padding" >MasterData Details</h4>
                <button mat-mini-fab (click)="onClose()" class="fab-placeholder">
                    <mat-icon style="color:#fff">close</mat-icon>
                </button>
        </div>
        
    </article>
    <main class="padding">
        <!-- <form [formGroup]="myForm" novalidate autocomplete='off'>
                <div fxLayout="row wrap" fxLayoutAlign="center center" class=" padding">
              
                <div fxFlex ="100">
                                <div fxLayout="row wrap" fxLayoutAlign="start start">
                                    <div fxLayout="row wrap" fxFlex="100">
                                        <mat-form-field fxFlex="100" fxFlex.xs="100" class="margin8">
                                            <input matInput placeholder="Name" required [formControl]="myForm.controls.branch_name" [(ngModel)]="branch.name">
                                            <mat-hint>
                                                <form-messages [control]="myForm.controls.branch_name"> </form-messages>
                                            </mat-hint>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="100" fxFlex.xs="100" class="margin8">
                                            <input matInput type="text" placeholder="Code" required [formControl]="myForm.controls.branch_country" [(ngModel)]="branch.country">
                                            <mat-hint>
                                                <form-messages [control]="myForm.controls.branch_country "> </form-messages>
                                            </mat-hint>
                                        </mat-form-field>
                                        <mat-checkbox  fxLayoutAlign="start center" fxFlex="100" class="margin8" [(ngModel)]="branch.active" [ngModelOptions]="{standalone: true}" value="end">Active</mat-checkbox>
                                    </div>
                                   
                                </div>
                                <div fxLayout="row wrap " fxLayoutAlign="end end ">
                                        
                                            <button mat-raised-button [disabled]="!myForm.valid" class="button-container" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()" color="primary">Save Details</button>
                                    </div>
                                </div>
                            </div>
        </form> -->
        <app-map [lat]="lat" [lng]="lng" ></app-map>
     </main>
</aside>