<aside>
   <article>
        <div fxLayout="row" fxLayoutAlign="space-between center" >
                <h4 class="padding-side">Masterdata</h4>
                 <button mat-mini-fab (click)="editMaster(null)" class="fab-placeholder">
                     <mat-icon style="color:#fff">add</mat-icon>
                 </button>
                 </div>
   </article>

   <main class="padding">
      <infinite-list [items]="masterDataList" (outputEvent)="scrollList = $event" style="height: 100%">
          
      <table >
          <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Code</th>
                  <th scope="col">Active</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of scrollList" style="cursor:pointer" (click)="editMaster(item.id)">
                  <td data-label="Name">{{item.name}}</td>
                  <td data-label="Code">{{item.code}}</td>
                  <td data-label="Active">{{item.active}}</td>
              </tr>
          </tbody>
      </table>
      </infinite-list>

   </main>
  </aside>
  