<aside>
    <article>
        <h4>Profiles</h4>
    </article>
    <main>
        <div fxLayout="row">
                <mat-tab-group (selectedTabChange)="tabChanged($event)">
                        <mat-tab label="allUsers">
                                <ng-template mat-tab-label style="background-color:lightblue !important">
                                    <mat-icon class="tab-icon">supervisor_account</mat-icon>All Users<span class="user-count">{{allUsers.length}}</span>
                                </ng-template>
                                <app-profile-search-table [dataList]="dataList"></app-profile-search-table>
                        </mat-tab>
                        <mat-tab label="activeUsers">
                                <ng-template mat-tab-label style="background-color:lightblue !important">
                                    <mat-icon class="tab-icon">supervisor_account</mat-icon>Active Users<span class="user-count">{{activeList.length}}</span>
                                </ng-template>
                                <app-profile-search-table [dataList]="dataList"></app-profile-search-table>
                        </mat-tab>
                        <mat-tab label="nonActiveUsers">
                                <ng-template mat-tab-label style="background-color:lightblue !important">
                                    <mat-icon class="tab-icon">supervisor_account</mat-icon>Non Active Users<span class="user-count">{{nonActiveList.length}}</span>
                                </ng-template>
                                <app-profile-search-table [dataList]="dataList"></app-profile-search-table>
                        </mat-tab>
                </mat-tab-group>


        </div>
    </main>
</aside>