<aside>
    <article>
            <div fxLayout="row wrap " fxLayoutAlign="space-between center ">
                    <h4 class="padding" >Branchs Details</h4>
                    <div>
                    <button mat-mini-fab class="fab-placeholder"  [disabled]="!myForm.valid" [ngClass]="{disabled : !myForm.valid}" (click)="saveEntity()" style="background-color:#343a54">
                        <mat-icon style="color:#fff">save</mat-icon>
                    </button>
                    <button mat-mini-fab (click)="back()" class="fab-placeholder-left" color="warn">
                            <mat-icon >close</mat-icon>
                        </button>
                    </div>
            </div>
            
        </article>
    <main class="padding">
        <form [formGroup]="myForm" novalidate autocomplete='off'>
            <div fxLayout="row wrap" fxLayoutAlign="center center" class=" padding">
                <div fxFlex="100">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start center">
                                <h5 fxFlex="100 " style="text-align: left;">Personal Details</h5>

                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput placeholder="Name" required [formControl]="myForm.controls.branch_name" [(ngModel)]="branch.name">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_name"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30"  fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="Email" required [formControl]="myForm.controls.branch_email" [(ngModel)]="branch.email">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_email "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput placeholder="Mobile" required [formControl]="myForm.controls.branch_mobile" [(ngModel)]="branch.mobile">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_mobile"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="Pan " required [formControl]="myForm.controls.branch_pan" [(ngModel)]="branch.pan">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_pan "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="Tan " required [formControl]="myForm.controls.branch_tan" [(ngModel)]="branch.tan">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_tan "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="Tan " required [formControl]="myForm.controls.branch_gstin" [(ngModel)]="branch.gstin">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_gstin "> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-checkbox fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" fxLayoutAlign="start start" [(ngModel)]="branch.active" [ngModelOptions]="{standalone: true}">Active</mat-checkbox>
                                </div>

                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutAlign="start start" class=" padding">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                    <mat-card class="margin8">
                        <mat-card-content>
                            <div fxLayout="row wrap" fxLayoutAlign="start start">
                                <h5 fxFlex="100" style="text-align: left;">Address Details</h5>
                                <div fxLayout="row wrap" fxFlex="100 ">
                                        <mat-form-field fxFlex="30"  fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                                <input matInput  placeholder="Latitude" required [formControl]="myForm.controls.branch_lat" [(ngModel)]="branch.lat">
                                                <mat-hint>
                                                    <form-messages [control]="myForm.controls.branch_lat"> </form-messages>
                                                </mat-hint>
                                            </mat-form-field> 
                                             <mat-form-field fxFlex="30" fxFlex.sm="45"  fxFlex.xs="100" class="margin8">
                                                    <input matInput  placeholder="Longitude" required [formControl]="myForm.controls.branch_lng" [(ngModel)]="branch.lng">
                                                    <mat-hint>
                                                        <form-messages [control]="myForm.controls.branch_lng"> </form-messages>
                                                    </mat-hint>
                                                </mat-form-field>

                                    <mat-form-field fxFlex="30"  fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="city" required [formControl]="myForm.controls.branch_city" [(ngModel)]="branch.city">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_city"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput placeholder="state" required [formControl]="myForm.controls.branch_state" [(ngModel)]="branch.state">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_state"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45" class="margin8">
                                        <input matInput type="text" placeholder="country" required [formControl]="myForm.controls.branch_country" [(ngModel)]="branch.country">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_country"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30" fxFlex.xs="100" fxFlex.sm="45"class="margin8">
                                        <input matInput placeholder="zipcode" required [formControl]="myForm.controls.branch_zipcode" [(ngModel)]="branch.zipcode">
                                        <mat-hint>
                                            <form-messages [control]="myForm.controls.branch_zipcode"> </form-messages>
                                        </mat-hint>
                                    </mat-form-field>

                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </form>
    </main>
</aside>